{
	"presets": ["react-native"],
	"plugins": [
		[
			"module-resolver",
			{
				"cwd": "babelrc",
				"extensions": [
					".js",
					".ios.js",
					".android.js"
				],
				"root": ["./src"],
				"alias": {
					"~": "./src",
					"~comp": "./src/components",
					"~cont": "./src/containers"
				}
			}
		],
		"import-glob"
	]
}
