{
	"presets": ["react-native"],
	"plugins": [
		[
			"module-resolver",
			{
				"cwd": "babelrc",
				"extensions": [
					".js",
					".ios.js",
					".android.js"
				],
				"alias": {
					"~": "../src",
					"~comp": "../src/components",
					"~cont": "../src/containers",
					"helper": "./testHelpers"
				}
			}
		],
		"import-glob"
	]
}
